@media (max-width: 732px) {
    .nav {
        display: none;
    }
    .btn {
        text-align: right;
    }
    button {
        display: inline-block;
        width: 55px;
        background: transparent;
        border-radius: 5px;
    }
    button hr {
        margin: 8px;
    }
}